* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

img {
    width: 250px;
    height: 70px; /* Justera detta värde efter behov */
    object-fit: cover;
    object-position: center; /* Centrerar bilden vertikalt */
}

.input {
    margin-bottom: 2rem;
}

/* Visar update-formuläret när tillhörande checkbox är markerad */
input[type="checkbox"]:checked + label + div {
    display: block;
}

/* Båda pekara till update-formuläret */

/* Döljer update-formuläret som standard */
div.update-form {
    display: none;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 5px;
}

tr {
    text-align: center;
}

th {
    background-color: #0e0f0d;
    color: #eee;
    padding: 5px;
    border: 1px solid white;
}

.buttons {
    padding: 0.2rem 25px;
    border-radius: 0.5rem;
    cursor: pointer;
}

.change {
    background-color: #f9f506;
    border: 1px solid black;
}

.update-game {
    background-color: #5ff32e;
    margin-top: 0.3rem;
}

.delete {
    background-color: #d51414;
    color: #eee;
}

.save {
    padding: 0.1rem 10px;
    background-color: #5ff32e;
}

.game-cells {
    max-width: 190px; /* Förhindrar att tabellen blir bredare än mobile-view */
}

footer {
    margin: 2rem 0 1rem;
}

.description {
    resize: none;
}
